header {
  height: 90px;
  line-height: 90px;
  text-align: center;
}

header h1 {
  color: rgb(53, 53, 53);
  margin-top: -20px;
  border-bottom: 3px solid rgb(53, 53, 53);
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

input[type='text']{
height: 34px;
width: 250px;
}

.container{
  display: flex;
  align-items: center;
}

.container span {
  font-size: 25px;
}

.container p {
  font-size: 25px;
}

#carta-texto {
  padding-right: 200px;
}

.gerar-carta {
  margin-top: 30px;
}

#criar-carta{
  padding: 10px;
  background: linear-gradient(rgb(9, 37, 197), rgb(1, 31, 129));
  border-radius: 5px;
  border: 0;
  color: white;
}

#criar-carta:hover{
  box-shadow: 0 0 4px black;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  display: inline-block;
  transform: rotate(-5deg);
}

.rotateright {
  display: inline-block;
  transform: rotate(5deg);
}

.skewleft {
  display: inline-block;
  transform: skewX(10deg);
}

.skewright {
  display: inline-block;
  transform: skewX(-10deg);
}
